<div ng-controller="LoginCtrl">
  <form ng-submit="login()" class="login-card">
    <h2>Please Sign In</h2>

    <div>
      <label>Username</label>
      <input ng-model="user.user" type="text" placeholder="Enter username" required />
    </div>

    <div class="password-container">
      <label>Password</label>
      <input ng-model="user.pass"
             type="{{user.showPass ? 'text' : 'password'}}"
             placeholder="Enter password" required />
      <i class="fa"
         ng-class="{'fa-eye': !user.showPass, 'fa-eye-slash': user.showPass}"
         ng-click="togglePass()"></i>
    </div>

    <button type="submit">Login</button>

    <p class="error" ng-if="error">{{error}}</p>
  </form>
</div>
